@font-face{
    font-family:"Bariol";
    src:url("bariol.ttf");
}
@font-face{
    font-family:"Bariolthin1";
    src:url("bariolthin1.ttf");
}
@font-face{
    font-family:"cooperm";
    src:url("cooperm.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(#ffffff,#b34ef6);
    min-height: 100vh;
}
/* HEADER */
h1{
    margin: 10px;
    float: left;
     font-family:"Bariol";
}
h1 a {
    text-decoration: none;
}
h1 a:visited {
    color: black;
}
h1 a:hover{
    color: plum;   
}

nav{
    float: right;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    font-family:"Bariolthin1";
}
nav  ul li a {
    text-decoration: none;
    
}
nav  ul li a:visited {
    color: black;

}
nav  ul li a:hover{
    color: plum; 
}
.about{
    clear: both;
    padding-top: 100px;
    padding:20px;
    text-align: center;
    font-family: cooperm;
}
svg{
    width: 50%;
    height: 50%;
}
#coeur{
    animation-name: coeur;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes coeur{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#firework{
    animation-name: firework;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes firework{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#fleur{
    animation-name: fleur;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes fleur{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
